  <div class="block">
    <p>
    A place where members are able share posts whose writer is only to known
    to those belonging to the club. Everyone else will just have to guess the
    source. Feel free to express yourself in any way you'd like.
    </p>
  </div>
