<% @posts.each do |post| %>
  <div class="block">
    <div class="card">
      <header class="card-header"> 
          <p class="card-header-title is-centered title is-4"><%= post.title %></p>
      </header>

      <div class="card-content">
        <div class="content is-medium">
          <%= post.body %>
        </div>
        <div class="content is-small">
           Posted <%= time_ago_in_words(post.created_at)%> ago</p>
        </div>
        <%= render partial: 'author', locals: { post: post } %>
      </div>
    </div>
  </div>
<% end %>
